<section class="about" id="about">
  <div class="profile" data-aos="fade-up" data-aos-duration="500" data-aos-offset="50">
    <img src="../../../assets/img/profile_img.png" class="profile__img" title="" data-aos="fade-up" data-aos-duration="600" data-aos-offset="50" />
    <div class="profile__content" data-aos="fade-up" data-aos-duration="600" data-aos-offset="50" data-aos-delay="50">
      <h2>Hello again!</h2>
      <p>
        Like I said, my name is Travis, and I'm a Denver based
        designer/developer.
      </p>
      <p>
        I currently lead user experience for Arrow Electronics. Previously, I
        wrote code for
        <a href="https://ideapark.com/" target="_blank" title="ideapark">ideapark</a>
        and
        <a href="https://www.lacek.com/" target="_blank" title="The Lacek Group">The Lacek Group</a>. I've also worked
        with agencies like
        <a href="http://www.mccannmpls.com/" target="_blank" title="McCann">McCann</a>,
        <a href="https://morsekode.com/" target="_blank" title="Morsekode">Morsekode</a>, and
        <a href="http://www.playworkgroup.com/" target="_blank" title="playworkgroup">playworkgroup</a>. But you don't have
        to take my word for it, see what others
        <a href="" title="Testimonials" [scrollTo]="'#testimonials'">have to say</a>.
      </p>
      <button class="btn -ghost" [scrollTo]="'#projects'">
        Check out my work
        <svg class="icon">
          <use xlink:href="assets/icons/def.svg#icon-arrow-up-circle"></use>
        </svg>
      </button>
      <button class="btn -ghost" [scrollTo]="'#testimonials'">
        Testimonials
        <svg class="icon">
          <use xlink:href="assets/icons/def.svg#icon-arrow-down-circle"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="skill__container">
    <div class="skill" data-aos="fade-up" data-aos-duration="500" data-aos-offset="50">
      <svg class="icon -graphic">
        <use xlink:href="assets/icons/def.svg#icon-UX-Design"></use>
      </svg>
      <h4 class="title">User Experience Design</h4>
      <div class="paragraph">
        <p>
          I rely on user research, usability principles and user-centric
          interaction design to craft meaningful digital experiences.
        </p>
      </div>
    </div>
    <div class="skill" data-aos="fade-up" data-aos-duration="500" data-aos-offset="50">
      <svg class="icon -graphic">
        <use xlink:href="assets/icons/def.svg#icon-UI-Dev"></use>
      </svg>
      <h4 class="title">Front End and UI Development</h4>
      <div class="paragraph">
        <p>
          I specialize in building scalable, modular user interfaces that render
          consistently and function seamlessly for all devices.
        </p>
      </div>
    </div>
    <div class="skill" data-aos="fade-up" data-aos-duration="500" data-aos-offset="50">
      <svg class="icon -graphic">
        <use xlink:href="assets/icons/def.svg#icon-Vis-Design"></use>
      </svg>
      <h4 class="title">Visual and Interaction Design</h4>
      <div class="paragraph">
        <p>
          My work is built on a solid foundation of visual and interaction
          design, ensuring it makes a lasting impression.
        </p>
      </div>
    </div>
  </div>
</section>