<section class="hero home" id="hero" data-aos="fade-up" data-aos-duration="450" data-aos-anchor-placement="top-center">
  <div class="hero__content">
    <h2 class="title">Hello, I'm Travis &hellip;</h2>
    <h3 class="h4 subtitle">and I enjoy making things for the web.</h3>
    <p>
      In other words,
      <em>I specialize in crafting digital experiences that transform challenges into opportunities</em>. But I'm
      guessing you're not here to read a bunch of industry jargon, are you? While you're here you read a bit
      <a href="" [scrollTo]="'#about'" class="" title="">about me</a>, check out <a href="" [scrollTo]="'#projects'"
        class="" title="">my work</a> or <a href="mailto:hello@iamtravishall.com" class="" title="">get in touch</a>.
    </p>
    <button class="btn -white" [scrollTo]="'#projects'">
      Featured Projects
      <svg class="icon">
        <use xlink:href="assets/icons/def.svg#icon-arrow-down-circle"></use>
      </svg>
    </button>
    <button class="btn -ghost -borderless" [scrollTo]="'#about'">
      Get to know me
      <svg class="icon">
        <use xlink:href="assets/icons/def.svg#icon-arrow-down-circle"></use>
      </svg>
    </button>
  </div>
</section>

<!-- {{ selectedProject }} -->

<!-- <app-cards (change)="selectProject($event)"></app-cards> -->
<app-cards></app-cards>

<app-about></app-about>

<app-testimonials></app-testimonials>