<section class="hero">
  <div class="hero__content">
    <h2 class="title">Hello, I'm Travis &hellip;</h2>
    <h3 class="h4 subtitle">and I enjoy making things for the web.</h3>
    <p>
      In other words, <em>I specialize in crafting digital experiences that
      transform challenges into opportunities</em>. But I'm guessing you're not here
      to read a bunch of industry jargon, now are you?
    </p>
    <button class="btn -ghost">Check out my work</button>
    <button class="btn -ghost">Get to know me</button>
  </div>
</section>

<section class="cards">
  <app-cards></app-cards>
</section>