@mixin button-reset {
  -webkit-appearance: none;
  background-color: var(--global--color--primary);
  border: 1px solid var(--global--color--primary);
  border-radius: 4px;
  display: inline-block;
  font-size: calc(var(--baseline--unit) * 0.95);
  font-weight: var(--global--fontWeight--medium);
  font-family: var(--global--fontFamily);
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
  line-height: var(--lineHeight--sm);
  margin: 6px 12px 6px 0;
  padding: var(--spacer--base);
  text-align: center;
  text-decoration: none;
  transition: background 250ms ease-in-out, transform 150ms ease,
    color 500ms ease;
  vertical-align: text-bottom;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &:active,
  &:focus {
    transform: scale(0.98);
  }
}

button,
input[type="button"],
.btn {
  @include button-reset;

  &.-secondary {
    background-color: var(--global--color--secondary);
    border-color: var(--global--color--secondary);
  }
  &.-tertiary {
    background-color: var(--global--color--tertiary);
    border-color: var(--global--color--tertiary);
  }
  &.-dk {
    background-color: mix(black, #168683, 35%);
    border-color: mix(black, #168683, 35%);
  }
  &.-lt {
    background-color: mix(white, #168683, 35%);
    border-color: mix(white, #168683, 35%);
  }
  &.-greyDk {
    background-color: var(--global--color--greyDk);
    border-color: var(--global--color--greyDk);
  }
  &.-greyLt {
    background-color: var(--global--color--greyLt);
    border-color: var(--global--color--greyLt);
  }
  &.-white {
    background-color: white;
    border-color: white;
    color: var(--global--color--black);
  }

  &.-success {
    background-color: var(--global--color--success);
    border-color: var(--global--color--success);
  }
  &.-warning {
    background-color: var(--global--color--warning);
    border-color: var(--global--color--warning);
    color: var(--global--color--black);
  }
  &.-error {
    background-color: var(--global--color--error);
    border-color: var(--global--color--error);
  }
  &.-ghost {
    background-color: transparent;
    border-color: white;
  }
  &.-borderless {
    border-color: transparent;
  }

  &.-block {
    display: block;
    margin: 0 auto;
    width: 100%;
    .icon {
      display: none;
    }
    @include breakpoint("medium") {
      display: inline-block;
      margin: 6px 12px 6px 0;
      width: auto;
      .icon {
        display: inline-block;
      }
    }
  }
  > .icon {
    margin: -6px -3px -6px 0;
  }
}
