<section class="hero project" id="hero" data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="top-center">
  <div class="content">
    <h2 class="title">Project Title</h2>
    <h3 class="h4 subtitle">Project Subtitle</h3>
    <span class="role">UX Lead</span>
    <span class="client">Arrow Electronics</span>
    <span class="date">2019</span>
    <p class="desc">
      Project description aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
      auctor. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Lorem ipsum
      dolor sit amet, consectetur adipiscing elit.
    </p>
    <button class="btn -white">
      Button
      <svg class="icon">
        <use xlink:href="assets/icons/def.svg#icon-arrow-down-circle"></use>
      </svg>
    </button>
  </div>
</section>

<section class="panel" data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="top-bottom">
  <div class="content">
    <h4>Problem Statement</h4>
  </div>
</section>

<section class="panel" data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="top-bottom">
  <div class="content">
    <h4>Hypothesis</h4>
  </div>
</section>

<section class="panel" data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="top-bottom">
  <div class="content">
    <h4>Process</h4>
  </div>
</section>

<section class="panel" data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="top-bottom">
  <div class="content">
    <h4>Results</h4>
  </div>
</section>

<section class="panel" data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="top-bottom">
  <div class="content">
    <h4>Next Steps</h4>
  </div>
</section>

<section class="pagination" data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="top-bottom">
  Previous | Next
</section>