.card {
  background: black;
  border: 1px solid var(--global--color--primary);
  cursor: pointer;
  display: grid;
  object-fit: cover;
  overflow: hidden;
  padding: var(--spacer--base);
  position: relative;
  transition: all 0.25s ease-in-out;
  z-index: 9;

  @include breakpoint("small") {
    grid-column-end: span 1;
  }
  @include breakpoint("large") {
    grid-column-end: span 3;
    padding: var(--spacer--lg);
    &:nth-child(4n + 0),
    &:nth-child(4n + 1) {
      grid-column-end: span 5;
    }
    &:last-child(),
    &:nth-last-child(-n + 2) {
      grid-column-end: span 4;
    }
  }
  @include breakpoint("xlarge") {
    grid-column-end: span 5;
    padding: var(--spacer--xl);
    &:nth-child(4n + 0),
    &:nth-child(4n + 1) {
      grid-column-end: span 7;
    }
    &:last-child(),
    &:nth-last-child(-n + 2) {
      grid-column-end: span 6;
    }
  }

  &:nth-child(even) {
    transition-delay: 300ms;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: minmax(420px, 1fr);
    grid-gap: 0.2rem;
    grid-auto-flow: dense;
    max-width: 80rem;
    margin: var(--spacer--base) auto;
    @include breakpoint("small") {
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
    @include breakpoint("large") {
      grid-template-columns: repeat(8, 1fr);
      grid-auto-rows: minmax(70vh, 1fr);
      margin: var(--spacer--lg) auto;
    }
    @include breakpoint("xlarge") {
      grid-template-columns: repeat(12, 1fr);
      margin: var(--spacer--xl) auto;
    }
  }

  &__content {
    align-self: end;
    transition: all 0.5s ease-out;
    z-index: 2;
    @include breakpoint("medium") {
      max-width: 28rem;
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    transition: all 0.5s ease-in-out;
  }

  .title {
    color: white;
    font-size: calc(var(--global--fontSize--base) * 2.724);
    font-weight: var(--global--fontWeight--heavy);
    line-height: var(--lineHeight--sm);
    margin-bottom: var(--spacer--sm);
  }

  .subtitle {
    color: white;
    font-size: calc(var(--global--fontSize--base) * 1.15);
    font-weight: var(--global--fontWeight--light);
    margin-bottom: var(--spacer--base);
  }

  .date {
    color: var(--global--color--secondary);
    font-family: var(--global--fontFamily);
    font-weight: var(--global--fontWeight--heavy);
    margin-bottom: var(--spacer--sm);
  }

  .role {
    font-family: var(--global--fontHeading);
    margin-bottom: var(--spacer--sm);
  }

  &:hover {
    box-shadow: 0 0 8px var(--global--color--secondary);
    z-index: 10;
    .card__image {
      transform: scale(1.25) translate(-38.5%, -38.5%);
      opacity: 0.45;
    }
  }
}
