.card {
  cursor: pointer;
  display: grid;
  grid-column-end: span 1;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  z-index: 2;
  &:hover {
    .image {
      filter: blur(0);
      mix-blend-mode: multiply;
      transform: scale(1.25) translate(-88.5%, -38.5%);
      opacity: 0.45;
    }
  }
  .content {
    align-self: end;
    background-image: linear-gradient(rgba(#111, 0), rgba(#111, 0.98));
    padding: calc(var(--spacer--xl) * 2) var(--spacer--lg) var(--spacer--lg);
    position: relative;
    text-shadow: 0 0 2px #111;
    z-index: 2;
    // .home & {
    //   max-width: 40rem;
    // }
    // .projects & {
    //   background-image: linear-gradient(rgba(#111, 0), rgba(#111, 0.98));
    // }
    .title {
      font-family: var(--fontHeading);
      font-size: calc(var(--fontSize--base) * 2.724);
      line-height: var(--lineHeight--xs);
      margin: 0 0 var(--spacer--base);
      .home & {
        font-size: var(--fontSize--h2);
        line-height: 0.85;
        @include breakpoint("medium") {
          font-size: var(--fontSize--h1);
        }
        @include breakpoint("large") {
          font-size: calc(var(--fontSize--h1) * 1.1);
        }
      }
    }
    .subtitle {
      font-size: calc(var(--fontSize--base) * 1.15);
      font-weight: var(--fontWeight--light);
    }
    .date {
      color: var(--color--secondary);
      font-weight: var(--fontWeight--heavy);
      position: absolute;
      top: 4.5rem;
    }
    .role {
      display: inline-block;
      font-weight: var(--fontWeight--medium);
      margin: 0 0 var(--spacer--sm);
    }
    .client {
      display: inline-block;
      font-weight: var(--fontWeight--light);
      margin: 0 0 var(--spacer--sm);
    }
  }
  .image {
    filter: blur(8px);
    position: absolute;
    top: 50%;
    left: 100%;
    height: 100%;
    width: auto;
    object-fit: cover;
    opacity: 0.1;
    transform: translate(-100%, -50%);
    transform-origin: center center;
    transition: all 0.5s ease-in-out;
    z-index: -1;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(26.25rem, 40vh);
    grid-gap: 0.2rem;
    grid-auto-flow: dense;
    margin: 0 auto;
    max-width: 80rem;
    &.projects {
      padding: calc(var(--spacer--xl) * 4) var(--spacer--base) var(--spacer--xl);
      // @include breakpoint("medium") {
      // grid-template-columns: repeat(8, 1fr);
      // grid-auto-rows: 60vh;
      // }
      @include breakpoint("large") {
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: 70vh;
      }
      @include breakpoint("tootall") {
        grid-auto-rows: 40vh;
      }
    }
  }

  // Work View Overrides
  .projects & {
    // @include breakpoint("medium") {
    //   grid-column-end: span 4;
    // grid-column-end: span 3;
    // &:nth-child(4n + 0),
    // &:nth-child(4n + 1) {
    //   grid-column-end: span 5;
    // }
    // &:last-child(),
    // &:nth-last-child(-n + 2) {
    //   grid-column-end: span 4;
    // }
    // }
    @include breakpoint("large") {
      grid-column-end: span 5;
      &:nth-child(4n + 0),
      &:nth-child(4n + 1) {
        grid-column-end: span 7;
      }
      &:last-child(),
      &:nth-last-child(-n + 2) {
        grid-column-end: span 6;
      }
    }
    &:nth-child(even) {
      transition-delay: 250ms;
    }
  }
}
