.footer {
  color: white;
  font-weight: var(--fontWeight--hairline);
  margin: 0 0 calc(var(--spacer--lg) * 2.5); //Space for mobile nav
  padding: var(--spacer--lg);
  position: relative;
  @include breakpoint("medium") {
    margin: 0;
    padding: var(--spacer--base);
  }
  .logo {
    svg {
      display: none;
      height: 73px;
      width: 84px;
      &:hover {
        fill: white;
        opacity: 0.8;
      }
      @include breakpoint("medium") {
        display: inline-block;
      }
    }
    height: 73px;
    width: 84px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  svg {
    fill: white;
  }

  a {
    color: inherit;
    display: inline-block;
    font-size: var(--fontSize--sm);
    font-weight: var(--fontWeight--hairline);
    &:hover {
      color: var(--color--secondary);
      text-decoration: none;
      svg {
        fill: var(--color--secondary);
      }
    }
  }

  li {
    display: inline-block;
    margin: 0 var(--spacer--base) var(--spacer--base) 0;
    padding: 0;
    &:nth-child(3) {
      display: block;
    }
    @include breakpoint("medium") {
      float: right;
      margin: var(--spacer--base) 0 var(--spacer--base) var(--spacer--base);
    }
  }

  .copyright {
    display: block;
    clear: both;
    @include breakpoint("medium") {
      text-align: right;
    }
  }
}
