.hero {
  color: white;
  display: grid;
  grid-template-columns: 1fr 90% 1fr;
  grid-template-rows: minmax(150px, 1fr) auto minmax(120px, 1fr);
  grid-template-areas:
    ". . ."
    ". content ."
    ". . .";
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 0;
  &::before {
    background-color: var(--color--black);
    content: "";
    display: block;
    height: 80px;
    position: absolute;
    bottom: -40px;
    left: -6px;
    right: -6px;
    transform: skewY(-3.5deg);
    transform-origin: center center;
    z-index: 0;
    @include breakpoint("large") {
      height: 160px;
      bottom: -60px;
    }
  }
  &::after {
    background-attachment: fixed;
    background-image: linear-gradient(125deg, #168683, #367067);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    border: var(--spacer--base) solid var(--color--black);
    box-shadow: inset 0 0 5px black;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
  }
  @include breakpoint("large") {
    grid-template-columns: minmax(5rem, 1fr) minmax(40%, 54rem) minmax(
        5rem,
        1fr
      );
  }
  // @include breakpoint("tootall") {
  //   min-height: 60vh;
  // }
  > .content {
    align-self: center;
    grid-area: content;
    padding: var(--spacer--lg);
  }

  // Grid Overrides
  &.about {
    grid-template-rows: 280px auto 60px;
    @include breakpoint("medium") {
      grid-template-columns: minmax(20rem, 30%) minmax(40%, 40rem) minmax(
          5rem,
          1fr
        );
      grid-template-rows: minmax(150px, 1fr) auto minmax(120px, 1fr);
    }
    @include breakpoint("large") {
      grid-template-columns: minmax(28rem, 30%) minmax(40%, 38rem) minmax(
          5rem,
          1fr
        );
    }
    @include breakpoint("tootall") {
      grid-template-rows: 44vh auto auto;
    }
  }
  &.contact {
    @include breakpoint("xlarge") {
      grid-template-columns: 1fr 60% 1fr;
    }
  }

  // Image Overrides
  &.home::after {
    background-image: url(src/assets/img/home--hero--sm.jpg),
      linear-gradient(125deg, #164b49, #367067);
    background-size: cover;
    background-position: center right;
    @include breakpoint("medium") {
      background-image: url(src/assets/img/home--hero--md.jpg),
        linear-gradient(125deg, #164b49, #367067);
    }
    @include breakpoint("large") {
      background-image: url(src/assets/img/home--hero--lg.jpg),
        linear-gradient(125deg, #164b49, #367067);
    }
  }
  &.about::after {
    background-image: url(src/assets/img/about--hero--sm.jpg),
      linear-gradient(125deg, #164b49, #367067);
    @include breakpoint("medium") {
      background-image: url(src/assets/img/about--hero--md.jpg),
        linear-gradient(125deg, #164b49, #367067);
      background-position: left center;
    }
    @include breakpoint("large") {
      background-image: url(src/assets/img/about--hero--lg.jpg),
        linear-gradient(125deg, #164b49, #367067);
    }
  }
  &.contact::after {
    background-image: url(src/assets/img/contact--hero--sm.jpg),
      linear-gradient(125deg, #164b49, #367067);
    @include breakpoint("medium") {
      background-image: url(src/assets/img/contact--hero--md.jpg),
        linear-gradient(125deg, #164b49, #367067);
    }
    @include breakpoint("large") {
      background-image: url(src/assets/img/contact--hero--lg.jpg),
        linear-gradient(125deg, #164b49, #367067);
    }
  }
}
