.nav {
  position: absolute;
  right: var(--spacer--lg);
  top: var(--spacer--xl);
  z-index: 25;
  &__item {
    display: inline-block;
  }
  &__link {
    color: white;
    font-weight: var(--global--fontWeight--light);
    padding: var(--spacer--base);

    &::after {
      background: var(--global--color--secondary);
      bottom: 0;
      content: "";
      color: transparent;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      width: 0;
      height: 2px;
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      text-decoration: none;
      &::after {
        width: 40%;
      }
    }
  }
}
