.slider {
  height: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}
.slider__nav {
  appearance: none;
  backface-visibility: hidden;
  background: white;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin: var(--spacer--lg) calc(var(--spacer--sm) * 1.5);
  border-radius: 100%;
  outline-offset: -6px;
  z-index: 10;
}
.slider__nav:checked {
  animation: check 0.4s linear forwards;
  background: var(--color--secondary);
  outline: none;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  transition: left 0.4s;
}
.slider__content {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  text-align: center;
  blockquote {
    margin: 0 auto;
    max-width: 60rem;
    padding: 0;
  }
  cite {
    a {
      color: white;
      font-style: italic;
      &:hover {
        font-style: normal;
        text-decoration: none;
      }
    }
  }
}

@keyframes check {
  50% {
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
