.testimonial {
  &__container {
    display: grid;
    align-self: center;
    grid-area: hero__content;
    position: relative;
  }
  &s {
    @extend .hero;
    &::before {
      top: -40px;
      @include breakpoint("large") {
        height: 160px;
        top: -60px;
      }
    }
    &::after {
      background-image: url(src/assets/img/testimonial--hero.jpg),
        linear-gradient(125deg, #164b49, #367067);
      background-position: center right;
      background-blend-mode: multiply;
    }
  }
}
