<app-header></app-header>

<router-outlet></router-outlet>

<!-- Icons -->
<section>
  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-alert-error"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-Angular"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-arrow-down-circle"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-arrow-down-left"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-arrow-down-right"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-arrow-down"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-arrow-left-circle"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-arrow-left"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-arrow-right-circle"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-arrow-right"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-arrow-up-circle"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-arrow-up-left"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-arrow-up-right"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-arrow-up"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-Check"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-checkmark-outline"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-chevron-down"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-chevron-left"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-chevron-right"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-chevron-up"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-CSS3"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-Download"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-Envelope"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-Facebook"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-file-pdf"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-Github"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-Github-Octocat"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-Hand"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-HTML5"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-Instagram"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-Linkedin"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-Logo-Header"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-Logo-Footer"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-Medium"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-Plane"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-resume"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-Twitter"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-Wordpress"></use>
  </svg>

  <svg class="icon -lg">
    <use xlink:href="assets/icons/def.svg#icon-Youtube"></use>
  </svg>

  <svg class="icon -xl">
    <use xlink:href="assets/icons/def.svg#icon-UI-Dev"></use>
  </svg>

  <svg class="icon -xl">
    <use xlink:href="assets/icons/def.svg#icon-UX-Design"></use>
  </svg>

  <svg class="icon -xl">
    <use xlink:href="assets/icons/def.svg#icon-Vis-Design"></use>
  </svg>
</section>

<!-- Typography -->
<section>
  <h3>Typography</h3>
  <p>
    This an example paragraph that demonstrates some basic text elements. The
    following is <b>bold</b> and this is <strong>strong</strong>. This is
    <i>italic</i>, whereas this is <em>emphasized</em>. This line features
    <sup>superscript</sup> text and <sub>subscript</sub> text, as well as,
    <u>underlined text</u>, <del>strikethrough</del>, and an
    <a href="#">an anchor</a>. All of these items are inline elements, which can
    be used in headings, paragraphs and just about anywhere really.
  </p>
  <blockquote>Super inspirational text goes in blockquotes</blockquote>

  <h1>Heading Level 1</h1>
  <h2>Heading Level 2</h2>
  <h3>Heading Level 3</h3>
  <h4>Heading Level 4</h4>
  <h5>Heading Level 5</h5>
  <h6>Heading Level 6</h6>

  <p class="lead">
    This is a lead paragraph. Lead paragraphs are meant to introduce bodies of
    text. It makes use of the .lead class.
  </p>

  <p>
    Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed
    consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
    venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Morbi
    leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio,
    dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a
    pharetra augue. Vestibulum id ligula porta felis euismod semper. Maecenas
    faucibus mollis interdum.
  </p>
  <p>
    Sample paragraph. Maecenas sed diam eget risus varius blandit sit amet non
    magna. Cum sociis natoque penatibus et magnis dis parturient montes,
    nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor
    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis
    mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia
    odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <p>
    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
    fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur
    ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum
    faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum
    faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum.
  </p>
  <h4>Blockquote</h4>
  <blockquote>
    Travis is a powerful customer advocate. During the time I was blessed to
    work with him, he crafted the user personas we used to drive a user-centric
    product, guided the product managers in adopting data-driven prioritization,
    and mentored his direct reports into deeply passionate professionals. I
    would jump at the chance to work with him again and hope I am provided the
    opportunity to do so.
    <cite>
        Donald Meyer - SDLC Practice Lead at Janus Henderson Investors U.S.
        <br>(Former Head Of Product Management at Arrow Digital)
    </cite>
  </blockquote>
</section>

<!-- Buttons -->
<section>
  <button class="btn">Button</button>
  <button class="btn -secondary">Button</button>
  <button class="btn -tertiary">Button</button>
  <button class="btn -dk">Button</button>
  <button class="btn -lt">Button</button>
  <button class="btn -ghost">Button</button>

  <button class="btn">
    Button
    <svg class="icon">
      <use xlink:href="assets/icons/def.svg#icon-arrow-right-circle"></use>
    </svg>
  </button>
  <button class="btn -secondary">
    Button
    <svg class="icon">
      <use xlink:href="assets/icons/def.svg#icon-arrow-right-circle"></use>
    </svg>
  </button>
  <button class="btn -tertiary">
    Button
    <svg class="icon">
      <use xlink:href="assets/icons/def.svg#icon-arrow-right-circle"></use>
    </svg>
  </button>
  <button class="btn -dk">
    Button
    <svg class="icon">
      <use xlink:href="assets/icons/def.svg#icon-arrow-right-circle"></use>
    </svg>
  </button>
  <button class="btn -lt">
    Button
    <svg class="icon">
      <use xlink:href="assets/icons/def.svg#icon-arrow-right-circle"></use>
    </svg>
  </button>
  <button class="btn -ghost">
    Button
    <svg class="icon">
      <use xlink:href="assets/icons/def.svg#icon-arrow-right-circle"></use>
    </svg>
  </button>

  <button class="btn -success">
    Button
    <svg class="icon">
        <use xlink:href="assets/icons/def.svg#icon-checkmark-outline"></use>
      </svg>
  </button>
  <button class="btn -warning">
    Button
    <svg class="icon">
        <use xlink:href="assets/icons/def.svg#icon-Hand"></use>
      </svg>
  </button>
  <button class="btn -error">
    Button
    <svg class="icon">
        <use xlink:href="assets/icons/def.svg#icon-alert-error"></use>
      </svg>
  </button>
  <button class="btn -ghost -block">Button</button>
</section>

<app-footer></app-footer>
