<section class="hero about" id="hero" data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="top-bottom">
  <div class="content">
    <h2 class="title">Hello again!</h2>
    <p class="lead">
      Like I said, my name is Travis <i>(and that's Wylie)</i>.
    </p>
    <p>
      I'm a Denver based UX designer and UI developer, currently leading user experience for Arrow Electronics. Previously,
      I wrote code for
      <a href="https://ideapark.com/" class="" target="_blank" title="ideapark">ideapark</a>
      and
      <a href="https://www.lacek.com/" class="" target="_blank" title="The Lacek Group">The Lacek Group</a>. I've also
      worked with some great agencies like
      <a href="http://www.mccannmpls.com/" class="" target="_blank" title="McCann">McCann</a>,
      <a href="https://morsekode.com/" class="" target="_blank" title="Morsekode">Morsekode</a>, and
      <a href="http://www.playworkgroup.com/" class="" target="_blank" title="playworkgroup">playworkgroup</a>.
    </p>
    <button class="btn -ghost" [scrollTo]="'#skills'">
      More about me
      <svg class="icon">
        <use xlink:href="assets/icons/def.svg#icon-arrow-down-circle"></use>
      </svg>
    </button>
  </div>
</section>

<!-- <section class="panel" id="skills" data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="top-bottom">

  <div class="heading">
    <h3>Expertise</h3>
  </div>

  <div class="callout" data-aos="fade-up" data-aos-duration="500" data-aos-offset="50">
    <svg class="icon graphic">
      <use xlink:href="assets/icons/def.svg#icon-UX-Design"></use>
    </svg>
    <h4 class="title">User Experience Design</h4>
    <div class="paragraph">
      <p>
        I rely on user research, usability principles and user-centric
        interaction design to craft meaningful digital experiences.
      </p>
    </div>
  </div>

  <div class="callout" data-aos="fade-up" data-aos-duration="500" data-aos-offset="50">
    <svg class="icon graphic">
      <use xlink:href="assets/icons/def.svg#icon-UI-Dev"></use>
    </svg>
    <h4 class="title">Front End &amp; UI Development</h4>
    <div class="paragraph">
      <p>
        I specialize in building scalable, modular user interfaces that render
        consistently and function seamlessly for all devices.
      </p>
    </div>
  </div>

  <div class="callout" data-aos="fade-up" data-aos-duration="500" data-aos-offset="50">
    <svg class="icon graphic">
      <use xlink:href="assets/icons/def.svg#icon-Vis-Design"></use>
    </svg>
    <h4 class="title">Visual &amp; Interaction Design</h4>
    <div class="paragraph">
      <p>
        My work is built on a solid foundation of visual and interaction
        design, ensuring it makes a lasting impression.
      </p>
    </div>
  </div>

  <div class="btn-group" data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="top-bottom">
    <button class="btn -ghost -lg" [routerLink]="'/work'">
      Check out my work
      <svg class="icon">
        <use xlink:href="assets/icons/def.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>

</section>

<section class="timeline" id="timeline" data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="top-bottom">

  <div class="heading">
    <h3>Experience</h3>
  </div>

  <div class="track">
    <div class="line"></div>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
  </div>

  <div class="btn-group" data-aos="fade-up" data-aos-duration="500" data-aos-offset="50">
    <button class="btn -ghost -lg" [routerLink]="'/resume'">
      Resum&eacute;
      <svg class="icon">
        <use xlink:href="assets/icons/def.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>

</section>

<section class="panel" data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="top-bottom">

  <div class="heading">
    <h3>Principles</h3>
  </div>

  <div class="callout" data-aos="fade-up" data-aos-duration="500" data-aos-offset="50">
    <svg class="icon graphic">
      <use xlink:href="assets/icons/def.svg#icon-hands-shake"></use>
    </svg>
    <h4 class="title">Empathy &amp; Understanding</h4>
    <div class="paragraph">
      <p>
        Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla.
      </p>
    </div>
  </div>

  <div class="callout" data-aos="fade-up" data-aos-duration="500" data-aos-offset="50">
    <svg class="icon graphic">
      <use xlink:href="assets/icons/def.svg#icon-hands-bump"></use>
    </svg>
    <h4 class="title">Collaboration &amp; Experimentation</h4>
    <div class="paragraph">
      <p>
        Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla.
      </p>
    </div>
  </div>

  <div class="callout" data-aos="fade-up" data-aos-duration="500" data-aos-offset="50">
    <svg class="icon graphic">
      <use xlink:href="assets/icons/def.svg#icon-hands-up"></use>
    </svg>
    <h4 class="title">User-Focused &amp; Data-Driven</h4>
    <p class="paragraph">
      Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla.
    </p>
  </div>

  <div class="btn-group" data-aos="fade-up" data-aos-duration="500" data-aos-offset="50">
    <button class="btn -ghost -lg" [routerLink]="'/contact'">
      Get in touch
      <svg class="icon">
        <use xlink:href="assets/icons/def.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>

</section>

<section class="testimonial" id="testimonial" data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="top-center" data-aos-once="false">
  
  <div class="slider">

    <input type="radio" name="slider" title="slide1" class="slider__nav" checked="checked" />
    <input type="radio" name="slider" title="slide2" class="slider__nav" />
    <input type="radio" name="slider" title="slide3" class="slider__nav" />
    <input type="radio" name="slider" title="slide4" class="slider__nav" />

    <div class="slider__inner">

      <div class="slider__content">
        <blockquote>
          Travis is a powerful customer advocate. During the time I was blessed to
          work with him, he crafted the user personas we used to drive a user-centric
          product, guided the product managers in adopting data-driven prioritization,
          and mentored his direct reports into deeply passionate professionals.
          <cite>
            <a href="https://www.linkedin.com/in/donald-meyer-0b120b24/" class="" target="_blank">Donald Meyer</a> - SDLC Practice Lead at Janus Henderson Investors U.S.
            <small>Former Head Of Product Management at Arrow Digital</small>
          </cite>
        </blockquote>
      </div>

      <div class="slider__content">
        <blockquote>
          Travis is a really impressive guy - and as a Front End developer, he's really got it all. He is a great
          designer and can make them come alive on screen. He's also not afraid to do what it takes to get the job done,
          even if that means working far too many hours. Travis is very dedicated to doing the job well, and he's a fun
          guy to work with.
          <cite>
            <a href="https://www.linkedin.com/in/saintgee/" class="" target="_blank">Chris St.Germain</a> - Email Architect at Best Buy
            <small>Former Colleague at The Lacek Group</small>
          </cite>
        </blockquote>
      </div>

      <div class="slider__content">
        <blockquote>
          Travis is a very capable and knowledgeable developer. Over the course of 16 months, we worked together on
          several projects, where he displayed acute attention to detail and approachability. He's also a Star Wars geek
          which should make him A-OK in anyone's book. Genuine nice guy.
          <cite>
            <a href="https://www.linkedin.com/in/sandahldesigns/" class="" target="_blank">Matthew Sandahl</a> - Web Designer at Gruen Agency
            <small>Former Colleague at ideapark</small>
          </cite>
        </blockquote>
      </div>

      <div class="slider__content">
        <blockquote>
          Travis Hall is the go-to man on campus for interactive/internet education. His standards are high in the classroom at the same time being very available to everyone including his
          colleagues for technical help. I give Travis my highest recommendation. I know him as a fellow instructor and I when I was Chair of the Media
          Arts Department 2003-2008 I consistently hired him to teach our most difficult media classes.
          <cite>
            <a href="https://www.linkedin.com/in/katherineturczan/" class="" target="_blank">Katherine Turczan</a> - Artist, Fulbright Scholar, Guggenheim Fellow
            <small>Former  Chair of Media Arts at Minneapolis College of Art &amp; Design</small>
          </cite>
        </blockquote>
      </div>

    </div>
  </div>

</section> -->