<section class="card__container" id="projects">
  <div class="card" 
  *ngFor="let project of project"
  (click)="onSelect(project)"
  [class.selected]="project === selectedProject"
  routerLink="/views/projects/project{{project.id}}"
  data-aos="fade-up"
  data-aos-offset="50"
  data-aos-duration="300"
  >
    <div class="card__content">
        <div class="title">{{project.title}}</div>
        <div class="subtitle">{{project.subtitle}}</div>
        <div class="date">{{project.date}}</div>
        <div class="role">{{project.role}}</div>
    </div>
    <img src="{{project.cardImage}}" alt="" class="card__image">
  </div>
</section>

<!-- <div *ngIf="selectedProject">
  <h2>{{selectedProject.title}} Details</h2>
  <div><span>id: </span>{{selectedProject.id}}</div>
</div> -->